# Ignore PyTorch model files
*.pth

# Optional: ignore other ML files
*.pt
*.h5
node_modules

# Electron Cache
electron-cache/
**/electron-cache/**
**/Cache_Data/**

# Node modules
node_modules/

# Build output
dist/
build/

# Environment files
.env
.env.local