/* Import global modal styles */
@import '../css/GlobalModal.css';


.modal-box {
  font-size: 1rem; 
}

.modal-header,
.modal-label,
.modal-hint,
.modal-instructions-title,
.modal-instructions-text,
.modal-status,
.modal-btn {
  font-size: 1.0rem !important;
}

.modal-input,
.modal-select,
.modal-textarea {
  font-size: 1.03rem !important;
}

.modal-title {
  font-size: 1.2rem !important;
}

